
# Author: KHK
# Name: Match3d_Plugin
# Version: 0.1
# Date: 2014/04/04c
# Requires: ImageJ


# noch nicht fertig...
# Documentation:    http://rsbweb.nih.gov/ij/plugins/jar-demo.html
# Example:          Menu>Submenu, "Command", Plugin
# Plugins can be installed in the File>Import, File>Save As, Edit>Options, Analyze>Tools, Help>About Plugins and Plugins menu and submenus. If Plugins>Submenu is specified, the command will installed in the submenu of the Plugins manu named Submenu. If this submenu does not exist, it is created. If Plugins is specified, the command will be installed in the submenu of the Plugins menu that corresponds to the directory containing the JAR file. For example, if the JAR file is in ImageJ/plugins/jars, the command will be installed in Plugins>jars.

#Plugins>KHKs Match3D 2.0, "TestEnabled", TestEnabled_v2
Plugins>KHKs Match3D 2.0, "SimpleSTL_WriterVec3Based", SimpleSTL_WriterVec3Based
Plugins>KHKs Match3D 2.0, "KHKs_SimpleSTLWriter", SimpleSTL_Writer
Plugins>KHKs Match3D 2.0, "KHKs Transform 2.5D", KHKs_RangeDataTransformJ
# Plugins>KHKs Match3D 2.0, "XYZ2DEM-importer", XYZ2DEM_Importer
Plugins>KHKs Match3D 2.0, "Message Test", Message_Test
# Plugins>KHKs Match3D 2.0, "Match3d_withFiducialMarkers 2", Match3d_2_withFiducialMarkersOnly
Plugins>KHKs Match3D 2.0, "Match3d_withFiducialMarkersICP 2.0", Match3d_withFiducialMarkersAndICPv2
Plugins>KHKs Match3D 2.0, "Match3d_withFiducialMarkersICP 2.1", Match3d_withFiducialMarkersAndICPv2_1


# Plugins>KHKs Match3D 2.0, "",